extends layout

block content
	h1= title
	//- p Welcome to #{title}
	div(class='header')

	div(class='content')
		div(class='col-lg-2')
			input(id='inputISBN', name='inputext', type='text', class='form-control', placeholder="ISBN")
		button(id='submit', type='button', onclick='isbnSubmit()', class='btn btn-success') Submit
		
	div(class='footer')


	script(type='text/javascript', src='/javascripts/function.js')

